@import "@devjobs/design-system/theme.css";
@import "@devjobs/ui/theme.css";

@theme {
  --color-dashboard-background: var(--theme-dashboard-background);
}

@layer base {
  :root {
    --theme-dashboard-background: var(--color-gray-300);
  }

  [data-theme="dark"] {
    --theme-dashboard-background: var(--color-midnight-900);
  }
}
